.App {
  margin: 8px;
}

.menu-links {
  float: right;
  height: 50px;
}

.menu-links a {
  padding: 5px;
  font-size: larger;
}

.products--item {
  margin: 5px;
  padding: 10px;
}

.products--item a {
  color: black;
}

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 350px;
}

.product--title {
  text-align: center;
  overflow: hidden;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product--image {
  margin-bottom: auto;
  margin-top: auto;
  height: 300px;
  object-fit: contain;
  width: 100%;
}
.product--image-big {
  margin-bottom: auto;
  margin-top: auto;
  max-height: 90vh;
  object-fit: contain;
  max-width: 100%;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories--item {
  background-color: #efeff0;
  font-weight: 700;
  margin: 5px;
  padding: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 500ms ease;
}

.categories a {
  text-decoration: none;
  color: black;
}

.categories--item:hover {
  background-color: #d6d6d8;
  transform: scale(1.1);
  border-color: silver;
}

a.active .categories--item {
  background-color: #bdbdc1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-info {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

button {
  font-size: 20px;
  padding: 10px;
}

.product-image--favorite-container {
  align-self: flex-end;
  background-color: #fff;
  cursor: pointer;
  width: 20px;
}

@media (min-width: 600px) {
  .product-info {
    flex-direction: row;
  }
  .product--image-big {
    max-width: 50%;
  }
}
